/* Add screen styles below */
html {
    background: #c9b0e7;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 25px;
    margin: 40px;
    padding: 40px;
    color: #fdfdfd;
    background: #66655cbd;
}

ul {
    list-style-type: square;
}

.nav-bar {
    list-style-type: none;
    text-align: center;
    border-radius: 25px;
    background-color: #E8DAEF;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}


h2 {
    font-size: 2.2em;
    text-align: center;
}

h3 {
    margin: 10px;
    padding: 10px;
}

p {
    line-height: 1.4em;
    margin: 10px;
    padding: 10px;
}

#options {
    display: flex;
}

.panels {
    flex: 1;
    border-radius: 25px;
    background-color: #c9b0e7;
    
}

img {
    max-width: 30%;
    max-height: 30%;
    margin: 10px;
    padding: 10px;
    object-fit: contain;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

article {
    background: #b0a8a8;
    border: 2px solid #fff;
    padding: 15px;
    margin: 15px;
}

table {
    border: 2px solid #eee;
    object-fit: contain;
}



#positions {
    padding: 2px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
}

td {
    text-align: center;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
  }

button {
    border-radius: 25px;
    background-color: #c9b0e7; 
    color: #fff;
  }